body{
    color: rgb(243, 174, 105);
    background-color: chocolate;
}

header{
    border-bottom: saddlebrown;
    padding: 20px;
    font-size: 32px;
    color: saddlebrown;
}

section{
    background-color: rgb(134, 58, 4);
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;

}

img{
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow: auto;
    padding-right: 10px;
    gap: 10px;
}

h2{
    padding-left: 20px;

}
